@media screen and (max-device-width: 640px) {

:root {
    --globalPadding: 4%;
  }

  #canvasContainerNew {background: none!important;}

    .pcards {position: relative; width: 80vw; margin-top: 2vh; }

    h3 {display: block; font-size: 6vw; font-weight: 900; padding-bottom: 5%!important}

  .headerBlog {width: 88%!important; color: black; padding: 0 2% 0 4%!important; float: left;}

  .padSummary {font-size: 4vw; line-height: 6vw; width: 86%!important; padding: 0 6% 12% 12%; margin: 0 0 12% 0!important;}

  .padSummary h3 {margin-left: -5%!important;}

  ul {margin-left: -2em;}

  .mobMargin {padding: 0 0 0 7%;}

  .btnCTAinner {font-size: 0.8em!important; width: 80%!important; margin-left: 0%!important}

  .footer {float: left!important;}

  #pHalf {width: 100%;}

  p {padding-bottom: 10%;}

  .padQuote {width: 100%;}



}
