@media (max-width: 768px) {



  #canvas {
    width: 92vw;
    padding: 4vw;
    z-index: 5;
    position: relative;
    top: 0px;
    overflow: hidden;

  }

  #prev,
  #next { display: none;}


  h2 {line-height: 1.4em;}

  .halfdiv {width: 86%; padding: 2vw 0vw;}

  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4vw;
    box-sizing: border-box;
  }

  .gallery img {
  margin-bottom: 0px;}


}
